#countdownTimer {
    top: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    z-index: 2147483638;
    width: 100%;
    position: fixed;
    background-color: green;
    height: 50px;
    font-size: x-large;
    color: #fff;
}